<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <div class="container">
            <h3>An error ocurred with the server!</h1>
            <p> <%= error %> <p>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>