<%- include('../includes/head.ejs') %>
</head>

<body>
    <main>
        <div class="container">
            <h3>An error ocurred with the server!</h1>
            <p> <%= error %> <p>
        </div>
    </main> 